.header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 23px;
  z-index: 50;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  flex: 1;
  margin-left: 140px;
  margin-right: 43px;
}
.actions {
  display: flex;
  align-items: center;
  gap: 21px;
}
