.container {
  padding: 24px;
  max-width: 1280px;
  margin: 0 auto;
}
.titleContainer {
  margin-bottom: 20px;
}
.title {
  font-size: 20px;
  font-weight: 900;
}
.line {
  margin-top: 6px;
  width: 65px;
  height: 4px;
  background-color: #c0c0c0;
}
.carouselWrapper {
  position: relative;
}
.carousel {
  overflow: hidden;
}

.carouselContainer {
  display: flex;
  gap: 24px;
}
.slide {
  flex: 0 0 auto;
  min-width: 0;
}
.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
}
.prevButton {
  left: -20px;
}

.nextButton {
  right: -20px;
}
