.button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.icon {
  width: 20px;
  height: 20px;
  color: #000;
}

.text {
  font-size: 13px;
  color: #7a7a7a;
}
