.rating {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.star {
  font-size: 20px;
  color: transparent;
  line-height: 20px;
}

.filledstars {
  color: #f8475f;
}

.emptystars {
  color: transparent;
  -webkit-text-stroke: 1px #f8475f;
  font-size: 17px;
  position: relative;
  top: -1px;
}
